* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 212, 212);
}



.container {
    display: flex;
    /* animation: bounce;
    animation-duration: 2s; */
    width: 800px;
    margin: auto;
    margin-top: 60px;
    height: 80vh;
    align-items: center;
    border-radius: 25PX;
    box-shadow: 14px 15px 15px black;
}



/* Estilo para a classe "Welcome" */
.Welcome {
    text-align: center;
    padding: 10px;
    width: 70%;
    margin-right: 76px;
    margin-bottom: 200px;

}

/* Estilo para o cabeçalho "h1" dentro da classe "Welcome" */
.Welcome h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

/* Estilo para os botões dentro da classe "Welcome" */
.Welcome button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo para o botão "Iniciar" com uma cor diferente */
.Welcome button:last-child {
    background-color: #008CBA;
}

.robo {
    width: 41%;
    text-align: center;
}

.robo img{
    width: 160%;
    margin-left: -65px;
}
.robo img:hover{
    cursor: pointer;
    animation: bounce infinite; 
    animation-duration:1.3s;
}

p {
    height: 10px;
    margin-top: 25px;
    text-transform: capitalize;
    /* Primeira letra de cada palavra em maiúscula */
    font-family: Arial, sans-serif;
    /* Escolha da fonte */
    font-size: 16px;
    /* Tamanho da fonte */
    line-height: 1.5;
    /* Espaçamento entre linhas */
    color: #333;
    /* Cor do texto */
    margin-bottom: 10px;
    /* Espaçamento inferior */
}